table.timetable {
    text-align: center;
    font-weight: bold;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    border-collapse: collapse;
}

table.timetable thead th {
	background-color: #D82F0A;
	font-size: large;
    color: white;
    border-bottom-style: solid;
    border-color: black;
    border-collapse: collapse;
}

table.timetable tbody th {
	color: white;
    background-color: #D82F0A;
}

table.timetable tr.odd {
	background-color: #CBC0BE;
}

table.timetable th{
    width: 120px;
}

.container {
    width: 450px;
    border-style: solid;
    border-width: thin;
    border-radius: 7px;
    box-shadow: 2px 2px #888888;
  }
  
  div{
  padding: 10px;
  }
